header {
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: 800px;
  width: 100%;
}

h2 {
  margin: 0;
}

.btn {
  border-radius: 4px;
}

.pointer-none {
  pointer-events: none;
}

.card-panel {
  border-radius: 8px;
}

.fa {
  font-size: 16px !important;
}

.btn-col {
  width: 10%;
}

/* .fa-plus::before,
.fa-minus::before {
  color: teal;
} */
